<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Connexion.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>GestionJDBC</servlet-name>
        <servlet-class>JavaProject.GestionJDBC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Programmation_Servlet</servlet-name>
        <servlet-class>JavaProject.Programmation_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>JavaProject.Logout_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreationCompte</servlet-name>
        <servlet-class>JavaProject.CreationCompte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionListe_FilmServlet</servlet-name>
        <servlet-class>JavaProject.GestionListe_FilmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationServlet</servlet-name>
        <servlet-class>JavaProject.Reservation_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecetteServlet</servlet-name>
        <servlet-class>JavaProject.RecetteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionJDBC</servlet-name>
        <url-pattern>/GestionJDBC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Programmation_Servlet</servlet-name>
        <url-pattern>/Programmation_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreationCompte</servlet-name>
        <url-pattern>/CreationCompte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionListe_FilmServlet</servlet-name>
        <url-pattern>/GestionListe_FilmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationServlet</servlet-name>
        <url-pattern>/ReservationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecetteServlet</servlet-name>
        <url-pattern>/RecetteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1200
        </session-timeout>
    </session-config>
</web-app>
